node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

.mumbai-secret
.mumbai-liquidity-secret
.mumbai-vesting-secret
.mumbai-events-secret
.mumbai-test-account
contract-metadata.json
token-metadata.json
.polygon-secret
.polygon-liquidity-secret
.polygon-vesting-secret
.polygon-events-secret
public-contract-meta.json
access-token-token-meta.json
access-token-contract-meta.json